<ion-header>
  <ion-toolbar>
    <ion-title>REPORTE DIARIO</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime value="{{fecha | date:'yyyy-MM-dd'}}"
    display-format="YYYY-MM-DD"
    [{ngModel}]="fecha" readonly>
</ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button (click)="listardiario()" >Buscar</ion-button>
    </ion-item>
    <ion-item *ngFor="let usu of usuarios"> 
      <ion-label>Deporte: {{usu.deporte}} </ion-label>
      <ion-label>Fecha: {{usu.fecha}} </ion-label>
      <ion-label>Tiempo: {{usu.cronometro}} </ion-label>
    </ion-item>
  
</ion-content>
