<ion-header>
  <ion-toolbar>
    <ion-title>MENU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail routerLink="/entrenamiento">
    <ion-icon slot="start" name="bicycle"></ion-icon>
    <ion-label>Entrenamiento</ion-label>
  </ion-item>
  <ion-item detail routerLink="/rdiario">
    <ion-icon slot="start" name="copy"></ion-icon>
    <ion-label>Reporte Diario</ion-label>
  </ion-item>
  <ion-item detail routerLink="/rsema">
    <ion-icon slot="start" name="copy"></ion-icon>
    <ion-label>Reporte Semanal</ion-label>
  </ion-item>
  <ion-item detail routerLink="/rmensual">
    <ion-icon slot="start" name="copy"></ion-icon>
    <ion-label>Reporte Mensual</ion-label>
  </ion-item>
  <ion-item detail routerLink="/rdeporte">
    <ion-icon slot="start" name="copy"></ion-icon>
    <ion-label>Reporte por Deporte</ion-label>
  </ion-item>
</ion-content>
