<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title id="container">
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <div id="titulo">
      <h1>LOGIN</h1>
      <img src="assets/icon/logo.PNG"/>
    </div>
    
    <div id="body">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" required [(ngModel)]="txt_usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Clave</ion-label>
        <ion-input type="password" required [(ngModel)]="txt_clave"></ion-input>
      </ion-item>
      <div id="boton">
        <ion-button (click)="verificar()"> Ingresar</ion-button>
      </div>
      <div>
        Si no tienes cuenta:
        <ion-button (click)="registro()"> Registrarte</ion-button>
      </div>  
    </div>
  </ion-card>  
</ion-content>